@font-face {
  font-family: 'iconfont';  /* project id 1427215 */
  src: url('//at.alicdn.com/t/font_1427215_c2lbtiuujeq.eot');
  src: url('//at.alicdn.com/t/font_1427215_c2lbtiuujeq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1427215_c2lbtiuujeq.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1427215_c2lbtiuujeq.woff') format('woff'),
  url('//at.alicdn.com/t/font_1427215_c2lbtiuujeq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1427215_c2lbtiuujeq.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuijian:before {
  content: "\e6a0";
}

.icon-shouji:before {
  content: "\e622";
}

.icon-74wodedingdan:before {
  content: "\e64e";
}

.icon-jifen:before {
  content: "\e63c";
}

.icon-jifenshangcheng:before {
  content: "\e601";
}

.icon-xuanxiang:before {
  content: "\e60c";
}

.icon-duigou:before {
  content: "\e623";
}

.icon-waimai:before {
  content: "\e62b";
}

.icon-jia:before {
  content: "\e684";
}

.icon-fuwuzhongxin1:before {
  content: "\e600";
}

.icon-suosou:before {
  content: "\e602";
}

.icon-xin:before {
  content: "\e70d";
}

.icon-u:before {
  content: "\e609";
}

.icon-huiyuanqia:before {
  content: "\e637";
}

.icon-wodedangxuan:before {
  content: "\e603";
}

.icon-left:before {
  content: "\e604";
}

.icon-right-arrow:before {
  content: "\e605";
}

.icon-remove:before {
  content: "\e625";
}

.icon-guanbi:before {
  content: "\e611";
}

.icon-ren:before {
  content: "\e606";
}

.icon-fenxiang:before {
  content: "\e624";
}

.icon-shoushi-tucao:before {
  content: "\e607";
}

